body {
  background-image: url("train.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

h1,
h2 {
  font-size: 40px;
}

.container {
  top: 50%;
  left: 50%;
  width: 35em;
  height: 25em;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  background-color: rgba(240, 248, 255, 0.468);
  position: fixed;
  text-align: center;
  padding-top: 4em;
}

#inc-btn,
#dec-btn {
  margin-bottom: 20px;
  padding: 20px 60px;
  font-size: 23px;
  border-radius: 25px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  cursor: pointer;
}

#inc-btn {
  background-color: rgba(216, 171, 230, 0.987);
}

#inc-btn:hover {
  background-color: rgba(193, 148, 206, 0.987);
}

#dec-btn {
  background-color: rgba(179, 171, 230, 0.963);
}

#dec-btn:hover {
  background-color: rgba(163, 156, 211, 0.963);
}

.btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
